<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
     <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
     <title>Nuno's Notebook — {{ page.title }}</title>
     <meta name="author" content="Nuno Job" />
     <link href="http://feeds.feedburner.com/nunojob" rel="alternate" title="Nuno Job" type="application/atom+xml" />
     <link rel="stylesheet" href="css/screen.css" type="text/css" media="screen, projection"/>
     <link rel="stylesheet" type="text/css" 
           href="http://fonts.googleapis.com/css?family=Special+Elite">
      <link rel="stylesheet" type="text/css" 
            href="http://fonts.googleapis.com/css?family=Cardo">
      <link rel="stylesheet" type="text/css" 
            href="http://fonts.googleapis.com/css?family=Pacifico">
     <link rel="SHORTCUT ICON" 
href="http://dygz78ls5cy51.cloudfront.net/c36dedd3a2d74935a52830dbe0587e98" /> 
  </head>
  <body>
    <div class="site">
      <div class="title">
        <a href="/">Nuno's Notebook</a> 
        <a class="extra" href="http://nunojob.com">❦</a>
      </div>
      {{ content }}
      <div class="footer"> 
        <div class="rss"> 
          <a href="http://feeds.feedburner.com/nunojob">Subscribe</a> 
        </div> 
      </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20054795-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>